---
---

@import '_bounce';
@import '_slide';
@import '_showing';
@import '_inputs';

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Dudu_Calligraphy.ttf);
}

html, body {
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'myFirstFont', serif;
}

a {
    text-decoration: none;
    color: #444444;
    
    &:visited {
        color: #444444;
    }
}

*:focus {
    outline: none;
}

.load-showing {
    animation: showing 1s forwards;
}

.load-inputs {
    animation: inputs 1s;
}

#container {
    margin: 50px auto 0px auto;
    padding: 0px 0px 20px 0px;
    border-radius: 5px;
    height: auto;
}

// *Felső menüsáv* //
#main-top {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #BBBBBB;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    flex-flow: row;
    align-items: center;
    
    #calendar {
        width: 25px;
        height: 50px;
        line-height: 50px;
        
        &:before {
            font-family: FontAwesome;
            content: "\f073";
            font-size: 25px;
            color: #666666;
            padding: 0 0 0 10px;
            transition: color 0.2s ease-in-out;
        }
        
        &:hover:before {
            color: #FF5252;
            cursor: pointer;
        }
    }
    
    #top-title {
        font-size: 22px;
        color: #444444;
        display: flex;
        line-height: 50px;
        padding: 0 0 0 20px;
        
        #love-container {
            width: 50px;
            height: 50px;
            overflow: hidden;
            position: relative;
            
            #heart {
                width: 25px;
                height: 50px;
                margin: 0 auto;
                position: absolute;
                left: 0;
                right: 0;
                //animation: bounce 8s infinite;
    
                &:before {
                    font-family: FontAwesome;
                    content: "\f004";
                    font-size: 25px;
                    color: #FF5252;
                }
            }
                
            #love {
                width: 50px;
                height: 50px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -50px;
                font-weight: bold;
                font-size: 24px;
                text-align: center;
                font-variant: small-caps;
                color: #FF5252;
                //animation: bounce 8s infinite;
                //animation-delay: 4s;
            }
        }
    }
    
    #to-top-bottom-wrapper {
        font-size: 30px;
        color: #666666;
        margin:0 10px 0 0;
        line-height: 50px;
        position: absolute;
        right: 0;
        display: flex;
        
        
        #to-top {
            margin: 0 15px;
            
            &:before {
                font-family: FontAwesome;
                content: "\f0d8";
                color: #666666;
                transition: color 0.3s ease-in-out;
            }
            
            &:hover:before {
                color: #FF5252;
            }
        }
        
        #to-bottom {
            &:before {
                font-family: FontAwesome;
                content: "\f0d7";
                color: #666666;
                transition: color 0.3s ease-in-out;
            }
            
            &:hover:before {
                color: #FF5252;
            }
        }
    }
}

// *Képvetítő* //
@mixin image($link) {
    background-image: url(/imgs/default/#{$link});
    @media (min-width: 769px) {background-image: url(/imgs/desktop/#{$link});}
    width: 100%;
    height: 100%;
    background-size: cover;
            
    &:before {
        padding-bottom: 66.6% !important;
        @media (min-width: 769px) {padding-bottom: 56% !important;}
        content: "";
        display: block;
    }
}

#img-container {
    width: 100vw;
    max-width: 1366px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    opacity: 0;
    
    #slideshow {
        width: 500%;
        height: 100%;
        display: flex;
        animation: slide 30s infinite;
        
        @for $i from 0 through 4 {
            #image-#{$i} {@include image('img#{$i}.jpg')};
        }
    }
}

// *Idővonal dátum választó* //
#timeline-dates {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column;
    padding: 0px 0px 20px 0px;
    margin: 20px auto;
    border-radius: 3px;
    color: #444444;
        
    #dates-header {
        display: flex;
        justify-content: center;
        margin: 20px 0px;
        
        p {
            margin: 0;
            padding: 0;
            font-size: 28px;
        }
        
        .dates-arrow {
            margin: 0px 10px;
            padding: 0;
            border: 0;
            background-color: transparent;
            color: #444444;
            font-size: 26px;
            transition: color 0.3s ease-out;
            cursor: pointer;
            
            &:hover {
                color: #FF5252;
            }
        }
    }
    
    .curr-date {
        display: none;
    }
    
    .timeline-date {
        display: none;
        flex-flow: column;
        align-items: center;
     
        a {
        margin: 5px 0px;
        font-size: 20px;
        transition: color 0.3s ease-out;
        }
 
        a:hover {
            color: #FF5252;
        }
    }
}

// *Idővonal* //
#timeline {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0px auto;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 40px 0px;
    position: relative;
       
    &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 12px;
        height: 100%;
        border: 1px dashed #BBBBBB;       
    }
    
    li {
        margin: 80px 0px;
        position: relative;
        padding: 0px 0px 20px 30px;
        font-weight: bold;
        font-size: 16px;
        
        span {
            content: "";
            position: absolute;
            top: 0px;
            left: 12px;
            height: 100%;
            border: 1px solid #FF5252;       
        }
        
       &:after {
            position: absolute;
            top: -5px;
            left: 0px;
            font-family: FontAwesome;
            content: "\f004";
            font-size: 26px;
            color: #FF5252; 
        }
        
        #drive {
           position: relative;
            
           i {
                position: absolute;
                font-size: 24px;
                color: #FF5252;
                padding-left: 10px;
                opacity: 1;
                transition: opacity 0.3s ease-out;
                bottom: 1px;
            }
            
            i:hover {
                opacity: 0.7;
                transition: opacity 0.3s ease-in;         
            }
        }
        
        .timeline-img {
            border-radius: 3px;
            margin-bottom: 5px;
            width: 230px;
        }
    }   
}

// *Hozzáadás gomb* //
#add-button {
    width: 150px;
    height: 50px;
    display: flex;
    margin: 0px auto 20px auto;
    justify-content: center;
    line-height: 50px;
    border: 1px solid #FF5252;
    border-radius: 3px;
    background-color: transparent;
    color: #FF5252;
    font-weight: bold;
    transition: all 150ms ease-out;
    cursor: pointer;
    
    &:hover {
        background-color: #FF5252;
        color: #FFFFFF;
    }
}

// *Hozzáadás az idővonalhoz* //
#adding-form {
    width: 100%;
    height: auto;
    max-width: 335px;
    display: none;
    flex-flow: column;
    align-items:baseline;
    margin: 5px auto 0px auto;
    font-size: 14px;
     
    &.active {
        display: flex;
    }
    
    input {
        width: 100%;
        height: 30px;
        border: 1px solid #AAAAAA;
        border-radius: 2px;
        box-sizing: border-box;
        margin-bottom: 20px;
        z-index: 2;
    }

    .form-input-text {
        opacity: 0;
        transition: all 300ms ease-in-out;
        z-index: 1;
    }
    
    #plus-minus-buttons {
        display: flex;
        flex-flow: row;
        margin-top: -20px;
        margin-bottom: 20px;
    }
    
    .plus-minus-sign {
        display: block;
        padding: 5px;
        font-size: 20px;
        color: #444444;
        transition: color 0.2s ease-out;
        border: none;
        background-color: transparent;
        position: relative;
          
        &:hover {
            color: #FF5252;
            
            #remaining {
                visibility: visible;
            }
        }
        
        #remaining {
            visibility: hidden;
            color: #444444;
            font-size: 10px;
            position: absolute;
            z-index: 1;
            text-align: center;
            top: 25px;
            left: 0px;
        }
    }
        
    .inactive {
        display: none;
    }
    
    #form-img {
        border: 0;
    }
    
    #form-img-error {
        color: #FF0000;
        font-weight: bold;
        margin-top: -15px;
        font-size: 15px;
    }
    
    #submit-center {
        margin: 30px auto 10px auto;
    }
    
    #form-submit {
        width: 70px;
        height: 30px;
        background-color: transparent;
        border: 1px solid #FF5252;
        border-radius: 3px;
        text-transform: capitalize;
        color: #FF5252;
        font-weight: bold;
        transition: all 150ms ease-out;
        cursor: pointer;
        
        &:hover {
            background-color: #FF5252;
            color: #FFFFFF;
        }
    }
}

// ------------------------- CHRISTMAS ----------------------------------------
.christmas-wrapper {
    height: 100vh;
    position: relative;
    animation: showing 1s;
}
$size: 200px;
$leaf-color: #7DAE41;
$trunk-color: #855726;
$bg: #0C1E42;

.christmas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $size;
    height: $size;
    position: relative;
    border-radius: 50%;
    border: 3px solid #3E4F64;
    background-color: $bg;
    background-image:
        // decoration
        radial-gradient(circle at 50% 18%, yellow 3%, transparent 3.5%),
        // top
        linear-gradient(60deg, darken($leaf-color,0%) 8%, transparent 8.5%),
        linear-gradient(-60deg, darken($leaf-color,1.5%) 8%, transparent 8.5%),
        // middle
        linear-gradient(60deg, darken($leaf-color,3%) 10%, transparent 10.5%),
        linear-gradient(-60deg, darken($leaf-color,4.5%) 10%, transparent 10.5%),
        // bottom
        linear-gradient(60deg, darken($leaf-color,6%) 12%, transparent 12.5%),
        linear-gradient(-60deg, darken($leaf-color,7.5%) 12%, transparent 12.5%),
        // trunk
        linear-gradient(80deg, darken($trunk-color,0%) 5%,  transparent 5.5%),
        linear-gradient(-80deg, darken($trunk-color,1.5%) 5%, transparent 5.5%);
    background-position:
        // decoration
        0 0,
        // leaves-top
        $size/2 $size/2.5, $size/2 $size/2.5,
        // leaves-middle
        $size/2 $size/1.8, $size/2 $size/1.8,
        // leaves-bottom
        $size/2 $size/1.4, $size/2 $size/1.4,
        // trunk
        $size/2 $size/1.25, $size/2 $size/1.25;
    
    // snow -----
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotate(-15deg);
        background-image:
            radial-gradient(circle at 30% 30%, #fff 1.5%, transparent 2.5%),
            radial-gradient(circle at 80% 70%, #fff 1.5%, transparent 2.5%),
            radial-gradient(circle at 30% 50%, #fff 1%, transparent 2%),
            radial-gradient(circle at 70% 85%, #fff 1%, transparent 2%);
        background-size: 100% 100%, 100% 100%, 50% 100%, 50% 50%;
        background-position: 0 0, 0 0, 0 0, 0 0;
        animation: snow 6s linear infinite forwards;
        @keyframes snow {
            100% {
                background-position: 0px $size, 0 $size, 0px $size, 0px $size;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    
  .timeline-img {
      width: 300px !important;
    }
    
    #timeline #drive i {
        font-size: 26px;
    }
    
    #timeline li {
        font-size: 20px;
    }
    
    #img-container {
        width: 80vw;
        max-width: 1366px;
    }
    
    .christmas-wrapper {
        height: 300px;
    }
}